<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <% include templates/head.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</body>
</html>