<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <% include templates/head.ejs %>
    
    <h1><%= videodata.categoryName %></h1>

    <% videodata.categories.forEach(function(item){ %>

    	<li><%= item.categoryName %></li>

    <%	}); %>
</body>
</html>